body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.home{
    height: 85%;
    width: 100%;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/049/099/215/small_2x/brightly-colored-fabrics-stacked-neatly-create-a-mesmerizing-visual-feast-photo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.button{
    background-color: rgb(255, 192, 236);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button-1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 150px;
    margin-left: 40px;
}
.text-1{
    display: flex;
    justify-content: space-between;
    text-align: end;
    position: relative;
    margin-top: 100px;
}
.text{
    position: absolute;
    right: 300px;
}
.couts{
    display: flex;
    position: relative;
}
.cout-1{
    border: black;
}
.cout-2{
    position: absolute;
    left: 200px;
    top: 70px;
}