body{
    background-color: rgb(182, 182, 182);
}
.main{   
         display: flex;
    align-items: center;
   flex-direction: column;
   justify-content: center;
     
}
.box1{

}
.box2{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 50px;
} 
.a{
    background-color: white;
    height: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
   
}
.a1{
    margin: 25px;
    display: flex;
    justify-content: center;
}
.b{
    background-color: white;
    height: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
   
}
.b1{
    margin: 25px;
    display: flex;
    justify-content: center;
}
.c{
    background-color: white;
    height: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
   
}
.c1{
    margin: 25px;
    display: flex;
    justify-content: center;
}