body{
     background-color: lightgrey;
    height: 100vh;
    width: 100vw;
}
.header{
     background-color: #222222;
     color: white;
     height: 175px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.pro{
    padding: 10px;
    display: flex;
    position: relative;
}
.pro1{
    width: 200px;
    height: 250px;
    background-color:white;
    margin: 0.5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1{
    height: 90px;
    width: 90px;
    border: 2px solid black;
    border-radius: 150px;
    margin-bottom: 120px;
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pro2{
    width: 200px;
    height: 250px;
    background-color: white;
    position: absolute;
    left: 190px;
    margin: 0.5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text{
    position: absolute;
   top: 120px;
}
.img2{
    height: 90px;
    width: 90px;
    border: 2px solid black;
    border-radius: 150px;
    margin-bottom: 120px;
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    padding: 7px;
}
.box1{
    width: 250px;
    height: 125px;
    background-color: yellow;
    margin: 0.5%;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2{
    width: 250px;
    height: 125px;
    background-color: yellow;
    margin: 0.5%;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    
